
/* **********************  Header ************************************ */
.div-adresse{
    margin-left: 14px;
    word-wrap: break-word;
}

.nav-tabs-input-right {
    margin-left: 62%;
    margin-right: 5%;
    width: 39%;
    padding: 5px 27px;
    margin-top: 4px;
    display: block;
    border: solid 1px #fd7622;
    border-radius: 3px;
    box-sizing: border-box;
    color: #fd7622;
    text-align: center;
}

.nav-tabs-input-right:focus {
    box-shadow: 0px 0em 4px #fd7622;
}

.nav-tabs-li-right{
    width: 64%;
}


Submenu{
    background-color: red;
}

.cccc{
    /*background-color: #843534;*/
    padding: 0px;
    padding-left: 16%;
}
.Navbar-collapse{
    background-color: white;
    float: left;
    width: 100%;
    color: #0f0f0f;
    height: auto;
    margin: auto;
    box-shadow: 1.2px 1.2px 5px #5e5e5e;
}

.right-Navbar{
    margin-right: 0px;
    float: right;
    margin-left: 30px;
    padding-left: 90px;
}
.centre-Navbar{
    margin-left: 12%;
}
.header {
    margin-top: 0;
    background-color: white;
}

/*Header top*/
.kl-top-header {
    background-color: #0f0f0f;
    height: 4px;
}

.kl-top-header-block{
    width: 80%;
    height: 100%;
    background-color: transparent;
    margin: auto;
    /*background-color: red;*/
}

@media screen and (max-width: 600px) {
    .kl-top-header-block{
        width: 100%;
        height: auto;
    }
}

.kl-menu-center{
}

/*Header menu*/
.kl-menu-header {
    color: #0f0f0f;
    height: auto;
    margin: auto;
    box-shadow: 1.2px 1.2px 5px #5e5e5e;
}


.kl-menu-header-block{
    width: 100%;
    background-color: red;
}

@media screen and (max-width: 600px) {
    .kl-menu-header{
        width: 100%;
        height: auto;
        min-height: 70px;
        display: flex;
    }
}

.kl-menu-header-block{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    background-color: transparent;
    margin: auto;
}

.kl-menu-left{
    margin-top: 0px;
    color: #fd7622;
    font-family: Vivaldi;
    position: absolute;
    top: 0px;
}

@media screen and (max-width: 600px) {
    .kl-menu-header-block{
        width: 100%;
        height: auto;
        min-height: 70px;
        display: flex;
    }
}

@media screen and (min-width: 800px) {
    .drawer-persiste{
        display: none;
    }
}

.kl-menu-right{
    margin-right: 0;
}





.kl-login {
    float: right;
    background-color: #1b6d85;
}

/*Btn connection et inscription*/
.kl-btn-separate {
    color: black;
    padding-top: 8px;
}

.kl-btn-connecter, .kl-btn-inscrire {
    background-color: white;
    color: #0f0f0f;
}


/* ********************************** */




ImagesUploader{
    float: left;
}
.nav-tabs:active{
    color: #fd7622;
}

.info_suplementaire{
    line-height: 20pt;
    float: bottom;
}

.titre_global{
    height: 30px;
}

.kl-tel_annonce{
    word-wrap: break-word;
}

.text_global{
    height: 134px;
    word-wrap: break-word;
}

.prix_global{
    height: 20px;
}

.center_annonces_global{
border-right: solid 2px gainsboro;
}

.center_annonces_global .prix_global{
    float: bottom;
}

.prix_global{
    bottom: 0px;
    float: bottom;
    margin-bottom: 0px;
}

.label_org{
    color:  #fd7622;
}
.hr_global{
    border: solid 1px gainsboro;
}
.theme{
    position: absolute;
    top: 0px;
    left: 15px;
    color: white;
    padding: 0 12px;
    background-color: #fd7622;
    text-transform: uppercase;
}


.col_sous_global{
    padding: 0px;
    position: relative;
}
.row_sous_global{
    margin-left: 0px!important;
    margin-right: 0px!important;
    box-shadow: 0px 0px 4px 2px gainsboro;
    border-radius: 2px;
    position: relative;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 15px;
}

.checked_radio_typeAnnonce{
    padding-left: 15px;
}
.custom-title-panel{
    text-align: center;
}

.thumbnail{
    width: 300px;
    height: 304px;
}

.thumbnail img{
    width: 300px;
    height: 202px;
    object-fit: cover;
}

.thumbnail_global{
    width: 200px;
    height: 200px;
}

.thumbnail_global img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.message{
    color: red;
}
.popover-ul{
    width: 170px!important;
    float:right;
    padding-top: 2px!important;
    margin-top: 2px!important;
}

.Popover{
    padding-top: 20px!important;
}

.chargement{
    height: 20px;
}

.testMety {
    width: 200px;
    padding: 20px;
    text-align: center;
    background: #fd7622;
    border: 8px solid white;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}


.jumbotron p{
    font-size: 18px;
}
.jumbotron li{
    font-size: 14px;
}

.nombre_petit_annonce, .dernier_annonce{
    color: #fd7622;
}

.caption{
    height: 70px;
    margin-bottom: 5px;
}

.prix{
    color: #fd7622;
}

.description {
    color: gray;
}

.bloc-carousel{
    padding-top: 10px;
    background-color: #E6E6E6;
    min-height: 280px;
}

.kl-carousel {
    background: transparent;
    width: 80%;
    margin-left: 10%;
    height: 100%;
    /*padding-top: 15px;*/
}


.glyphicon-search{
    color: white;
}

.bloc-recherche{
    background-color: #333333;
    height: 120px;
    padding-top: 10px;
}

.kl-top-recherche {
    width: 80%;
    margin-left: 10%;
    height: 120px;
    padding-top: 10px;
}

.bloc-bottom-recherche{
    background-color: white;
    height: 30px;
}

.kl-bottom-recherche {
    width: 80%;
    margin-left: 10%;
    height: 120px;
    background: transparent;
}


.kl-middle-recherche-block{
    margin: auto;
    width: 100%;
    padding-left: 12%;
    padding-top: 15px;
}

.kl-top-recherche-block{
    color: white;
    width: 100%;
    height: 100%;
    background-color: transparent;

    text-align: center;
}


@media screen and (max-width: 700px) {
    .kl-top-recherche{
        width: 100%;
        height: auto;
    }
    .bloc-recherche{
        width: 100%;
        height: auto;
    }

}

.row-bloc-accueil{
    width: 80%;
    margin-left: 10%;
    height: auto;
    margin-top: 10px;
}


.formField_res_icon {
    color: black;
    margin-left: 4%;
    width: 100%;
    padding: 7px 20px;
    display: block;
    border: 1px solid #d9d9d9;
    border-radius: 4px 0px 0px 4px;
    box-sizing: border-box;
    float: right;
}

.formField_res {
    color: black;
    margin-left: 4%;
    margin-right: 4%;
    width: 100%;
    padding: 7px 20px;
    display: block;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    box-sizing: border-box;
    float: right;
}


.formField_res_icon:focus {
    box-shadow: inset 0px 0em 3px 1px #c4c4c4;
}
.formField_res:focus {
    box-shadow: inset 0px 0em 3px 1px #c4c4c4;
}





.body{
    background-color: #FCFDFD;
}

.App {
    margin: auto;
    width: 50%;
}







.text-flot-lef{
    float: left;
    padding-left: 5%;
}

.exiger{
    color: red;
}





/*Modal*/
.kl-panel-modal-center{
    width: 100px;
}

.kl-panel-modal-right{
    float: right;
}

.kl-panel-modal-left{
    float: left;
}

/********/




.kl-miniDrawer{
    background-color: #5cb85c;
    width: 40px;
    height: 40px;
}


.kl-li-center{
    color: #0f0f0f;
    margin-left: 20px;
}

.kl-depose-annonce{
    color: white;
    background-color: #264653;
    margin-left: 10px;
}

.kl-depose-annonce:hover{
    color: #0f0f0f;
    background-color: #fd7622;
}




/**
.kl-menu-right p:hover{
    color: #0f0f0f;
    background-color: #fd7622;
}

.kl-menu-right p{
    background-color: #264653;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 5px 5px;
    height: 39px;
    width: 211px;
    padding-top: 9px;
    padding-left: 8px;
    margin-top: 16px;
    margin-left: 80px;
}
**/
.kl-li-right {
    float: right;
}

/****form inscription, connection et annonce****/
.App h2{
    color: #fd7622;
}
.panel-body{
    border: #fd7622;
    box-shadow: 2px 2px 2px gainsboro;
}

.panel-body label{
    float: left;
    margin-left: 5%;
}

.nav-menu-compte{
    width: 100%;
    height: auto;
}

.nav-menu-compte-li{
    background-color: gainsboro;
    width: 50%;
    height: auto;
}

.nav-menu-compte-li{
    font-color: black;
}




.custom-header-panel{
    background-color: #fd7622 !important;
    border-color: #fd7622 !important;
    color: white !important;
    width: 100%;
}

.panel-title{

}


.form-group{
    position: relative;
}

.signForm {
    width: 100%;
    background-color: #CCCCCC;
    border-radius: 5px;
    padding: 20px;
    margin-left: 23px;
}

.input-group{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}
.formField_ar {
    width: 100%;
    padding: 8px 20px;
    display: block;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    box-sizing: border-box;
}

.formField {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    padding: 8px 20px;
    display: block;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    box-sizing: border-box;
}

.formField_ar:focus {
    box-shadow: 0px 0em 4px #c4c4c4;
}
.formField:focus {
    box-shadow: 0px 0em 4px #c4c4c4;
}


.input-group-addon-recherche{
    background-color: #fd7622;
}
.input-group-addon-recherche i{
    margin-left: 3px;
}


/** Pagination **/
#page-numbers {
    list-style: none;
    display: flex;
}

#page-numbers > li {
    margin-right: 0.3em;
    color: blue;
    user-select: none;
    cursor: pointer;
}

/** Pagination **/

.myButton {
    width: 95%;
    background-color: #fd7622;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.my-btn-valider {
    width: 30%;
    background-color: #fd7622;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.my-btn-annuler {
    width: 30%;
    background-color: gainsboro;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.myList {
    list-style: none;
}

.myListButton {
    display: inline-block;
    height: auto;
    width: auto;
    border-radius: 7px;
    border: 1px solid #fd7622;
}

.col{
    padding-top: 15px;
}

.span-left{
    float: left;
    padding-left: 30px;
}

.span-right{
    float: right;
    padding-right: 25px;
}

.container_accueil{
    margin-top: 0;
    min-height: 540px;
}

.container{
    margin-top: 20px;
    position: relative;
}

.div-checkbox{
    text-align: left;
    margin-left: 5%;
}

.checkbox_notif, .checkbox_condition{
    float: left;
}

/*Footer*/

.footer{
    background-color: #1a1a1a;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
}

.footer-block{
    width: 80%;
    height: auto;
    background: transparent;
    margin: auto;
}

@media screen and (max-width: 600px) {
    .footer-block{
        width: 100%;
        height: auto;
    }
}

.kl-maresak{
    margin-top: 10px;
    width: 100%;
    height: auto;

    /*text-align: center;*/
    color: #fd7622;
    font-family: Vivaldi;
    font-size: 24px;
}

.kl-lien-bas{
    width: 40%;
    height: auto;
    margin: auto;
    border-bottom: solid white 2px;
    margin-top: 10px;
    text-align: center;
    position: relative;
    display: block;
}

.kl-col-propos, .kl-col-contact, .kl-col-newsletter{
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
}


.kl-newsletter{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    margin-top: 30px;

}

.kl-newsletter-col{
    margin-top: 0;
}
.kl-mail-newletter{
    padding-right: 10px;
}

.kl-envoyer-newletter{
    background-color: #fd7622;
    color: white;
}

.kl-copyright{
    height: 30px;
    width: 100%;
    background-color: #0f0f0f;
    margin-bottom: 0;
    text-align:center;
}
