
.App {
    margin: auto;
    width: 50%;
}

.header {
    margin-top: 0;
}
.container{
    margin-top: 20px;
}

/*Header top*/
.kl-top-header {
    background-color: #0f0f0f;
    height: 40px;
}
.kl-top-header-block{
    width: 90%;
    height: 100%;
    background-color: transparent;
    margin: auto;
}

@media screen and (max-width: 600px) {
    .kl-top-header-block{
        width: 100%;
        height: auto;
    }
}

/*Btn connection et inscription*/
.kl-btn-separate {
    color: white;
    padding-top: 8px;
}

.kl-btn-connecter, .kl-btn-inscrire {
    background-color: #0f0f0f;
    color: white;
}

/*Modal*/
.kl-panel-modal-center{
    width: 100px;
}

.kl-panel-modal-right{
    float: right;
}

.kl-panel-modal-left{
    float: left;
}

/********/


.kl-login {
    float: right;
}

/*Header menu*/
.kl-menu-header {
    color: #0f0f0f;
    height: auto;
    margin: auto;
    box-shadow: 2px 2px 2px #5e5e5e;
}

.kl-menu-header li {
    color: #0f0f0f;
    margin-top: 18px;
    margin-bottom: 10px;
    margin-left: 60px;
}

@media screen and (max-width: 600px) {
    .kl-menu-header{
        width: 100%;
        height: auto;
        min-height: 70px;
        margin-top: 18px;
        display: flex;
    }
}

.kl-menu-header-block{
    display: flex;
    justify-content: space-around;
    width: 92%;
    height: 100%;
    background-color: transparent;
    margin: auto;
}

@media screen and (max-width: 600px) {
    .kl-menu-header-block{
        width: 100%;
        height: auto;
        min-height: 70px;
        display: flex;
    }
}

.kl-miniDrawer{
    background-color: #5cb85c;
    width: 40px;
    height: 40px;
}

.kl-menu-left{
    color: #fd7622;
    font-family: Vivaldi;
}

.kl-li-center{
    color: #0f0f0f;
    margin-left: 20px;
}

.kl-depose-annonce{
    color: white;
    margin-left: 10px;
}

.kl-depose-annonce:hover{
    color: #0f0f0f;
    background-color: #fd7622;
}


@media screen and (min-width: 800px) {
    .drawer-persiste{
        display: none;
    }
}

.kl-menu-right{
    margin-right: 0;
}

@media screen and (max-width: 600px) {
    .kl-menu-right, .kl-menu-center{
        display: none;
    }
    .kl-menu-left{
        position: relative;
        margin:auto;
    }

    .drawer-persiste{
    }
}

@media screen and (max-width: 800px) {
    .kl-menu-center{
        display: none;
    }
    .kl-menu-left{
        position: relative;
        margin:auto;
        margin-top: 18px;
    }
}

.kl-menu-right p:hover{
    color: #0f0f0f;
    background-color: #fd7622;
}

.kl-menu-right p{
    background-color: #264653;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 5px 5px;
    height: 39px;
    width: 211px;
    padding-top: 9px;
    padding-left: 8px;
    margin-top: 16px;
    margin-left: 80px;
}

.kl-li-right {
    float: right;
}

/********/





.signForm {
    width: 100%;
    background-color: #CCCCCC;
    border-radius: 5px;
    padding: 20px;
}

.formField {
    width: 100%;
    padding: 12px 20px;
    display: block;
    border: 1px solid #fd7622;
    border-radius: 3px;
    box-sizing: border-box;
}

.myButton {
    width: 100%;
    background-color: #fd7622;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.myList {
    list-style: none;
}

.myListButton {
    display: inline-block;
    height: auto;
    width: auto;
    border-radius: 7px;
    border: 1px solid #fd7622;
}


.container{
    height: 540px;
    margin-top: 20px;
    position: relative;
}


/*Footer*/

.footer{
    background-color: #1a1a1a;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
}

.footer-block{
    width: 90%;
    height: auto;
    background: transparent;
    margin: auto;
}

@media screen and (max-width: 600px) {
    .footer-block{
        width: 100%;
        height: auto;
    }
}

.kl-maresak{
    margin-top: 10px;
    width: 100%;
    height: auto;

    text-align: center;
    color: #fd7622;
    font-family: Vivaldi;
    font-size: 24px;
}

.kl-lien-bas{
    width: 40%;
    height: auto;
    margin: auto;
    border-bottom: solid white 2px;
    margin-top: 10px;
    text-align: center;
    position: relative;
    display: block;
}

.kl-col-propos, .kl-col-contact, .kl-col-newsletter{
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
}


.kl-newsletter{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    margin-top: 30px;

}

.kl-newsletter-col{
    margin-top: 0;
}
.kl-mail-newletter{
    padding-right: 10px;
}

.kl-envoyer-newletter{
    background-color: #fd7622;
    color: white;
}

.kl-copyright{
    height: 30px;
    width: 100%;
    background-color: #0f0f0f;
    margin-bottom: 0;
    text-align:center;
}
